.DS_Store
MEMORY.md
vision/
saves/
node_modules
npmrc
.env
config/tmux-plugins
*.log
gitconfig-pm
gitconfig-personal
config/opencode/state
.opencode/state/
config/configstore
config/flutter
config/gh
config/github-copilot
config/solana
config/amp
.tokens*
tokens*
.secret*
.secrets*
secrets*
secret*
config/graphite/user_config
config/planetscale/access-token
config/wireshark/
config/yarn/
.dmux/
