[submodule "z"]
	path = config/z
	url = https://github.com/rupa/z
[submodule "zprezto"]
	path = zprezto
	url = https://github.com/ajoslin/prezto
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs
